.DashBoard{
    color: rgb(5, 71, 19);
    /* border: 1px solid red; */
    text-align: center;
  
}
.DashBoard_container{
    /* border: 3px solid black; */
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    background-image: linear-gradient(rgb(55,26,85),rgb(137,35,110),rgb(63,34,82));
    padding: 20px;
}
.DashBoard_Link{
    /* border: 1px solid green; */
    text-decoration: none;
    width: 10%;
    height: 10vh;
    font-size: larger;
    display: grid;
    place-items: center;
    color: white;
    transition: all 0.5s ease-in;
    border-radius: 7px;

}
.DashBoard_Link:hover{
    background-color:white;
    color: black;
}