.Profile{
    /* border:  1px solid red; */
    height: 40vh;
    background-image: linear-gradient(rgb(55,26,85),rgb(137,35,110),rgb(63,34,82));
    width: 99%;
    margin: 7px auto;
}
.profile_container{
    /* border:  3px solid green; */
    display:  flex;
    justify-content: space-around;
}
.h2_all_container{
    text-align: center;
    color: white;
}
.profile_container div{
    /* border:  1px solid blue; */
    font-size: large;
    color: white;
    /* text-align: center; */
}
.DisplayObject_container{
    border:  1px solid yellow;
}