.AboutUs{
    /* border: 1px solid red; */
    text-align: center;
    background-image: linear-gradient(rgb(55,26,85),rgb(137,35,110),rgb(63,34,82));
    color: white;
    width: 97%;
    margin: 4px auto;
    border-radius: 7px;
}
.AboutUs_Container {
    border: 3px solid green;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    padding: 10px;
    gap: 0px;
}
.p{
    /* border:  1px solid white; */
    /* text-justify: auto; */
    text-align: justify;
    
}
.img_container{
    border: 3px solid blue;
    /* width: 50%; */
}
.p_container{
    border: 3px solid red;
    width: 30%;
}
